albumentations
debugpy
flake8
hydra-core
imutils
matplotlib
numpy
opencv-python
pandas
pillow
pycocotools
pytest
reportlab
scikit-learn
scipy
shap
shapely
streamlit
tensorboard
tqdm
transformers
ultralytics
wandb


